<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cxnet.asset.depr.mapper.AstDeprRepairBillMapper">

    <resultMap type="com.cxnet.asset.depr.domain.AstDeprRepairBill" id="AstDeprRepairBillMap">
        <result property="id" column="ID" jdbcType="VARCHAR"/>
        <result property="billNo" column="BILL_NO" jdbcType="VARCHAR"/>
        <result property="status" column="STATUS" jdbcType="VARCHAR"/>
        <result property="fiscal" column="FISCAL" jdbcType="INTEGER"/>
        <result property="deprMo" column="DEPR_MO" jdbcType="INTEGER"/>
        <result property="unitId" column="UNIT_ID" jdbcType="VARCHAR"/>
        <result property="unitCode" column="UNIT_CODE" jdbcType="VARCHAR"/>
        <result property="unitName" column="UNIT_NAME" jdbcType="VARCHAR"/>
        <result property="deptId" column="DEPT_ID" jdbcType="VARCHAR"/>
        <result property="deptCode" column="DEPT_CODE" jdbcType="VARCHAR"/>
        <result property="deptName" column="DEPT_NAME" jdbcType="VARCHAR"/>
        <result property="confirmedId" column="CONFIRMED_ID" jdbcType="VARCHAR"/>
        <result property="confirmedName" column="CONFIRMED_NAME" jdbcType="VARCHAR"/>
        <result property="confirmedDate" column="CONFIRMED_DATE" jdbcType="TIMESTAMP"/>
        <result property="delFlag" column="DEL_FLAG" jdbcType="VARCHAR"/>
        <result property="remark" column="REMARK" jdbcType="VARCHAR"/>
        <result property="cost" column="COST" jdbcType="OTHER"/>
        <result property="depTotal" column="DEP_TOTAL" jdbcType="OTHER"/>
        <result property="netValue" column="NET_VALUE" jdbcType="OTHER"/>
        <result property="qty" column="QTY" jdbcType="INTEGER"/>
        <result property="thisValue" column="THIS_VALUE" jdbcType="OTHER"/>
        <result property="resiRate" column="RESI_RATE" jdbcType="OTHER"/>
        <result property="deprNewestDate" column="DEPR_NEWEST_DATE" jdbcType="TIMESTAMP"/>
        <result property="createBy" column="CREATE_BY" jdbcType="VARCHAR"/>
        <result property="createTime" column="CREATE_TIME" jdbcType="TIMESTAMP"/>
        <result property="createName" column="CREATE_NAME" jdbcType="VARCHAR"/>
        <result property="updateBy" column="UPDATE_BY" jdbcType="VARCHAR"/>
        <result property="updateTime" column="UPDATE_TIME" jdbcType="TIMESTAMP"/>
        <result property="extend1" column="EXTEND1" jdbcType="VARCHAR"/>
        <result property="extend2" column="EXTEND2" jdbcType="VARCHAR"/>
        <result property="extend3" column="EXTEND3" jdbcType="VARCHAR"/>
        <result property="extend4" column="EXTEND4" jdbcType="VARCHAR"/>
        <result property="extend5" column="EXTEND5" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询单个-->
    <sql id="AstDeprRepairBillVo">
        select t0.ID,
               t0.BILL_NO,
               t0.STATUS,
               t0.FISCAL,
               t0.DEPR_MO,
               t0.UNIT_ID,
               t0.UNIT_CODE,
               t0.UNIT_NAME,
               t0.DEPT_ID,
               t0.DEPT_CODE,
               t0.DEPT_NAME,
               t0.CONFIRMED_ID,
               t0.CONFIRMED_NAME,
               t0.CONFIRMED_DATE,
               t0.DEL_FLAG,
               t0.REMARK,
               t0.COST,
               t0.DEP_TOTAL,
               t0.NET_VALUE,
               t0.QTY,
               t0.THIS_VALUE,
               t0.RESI_RATE,
               t0.DEPR_NEWEST_DATE,
               t0.CREATE_BY,
               t0.CREATE_TIME,
               t0.CREATE_NAME,
               t0.UPDATE_BY,
               t0.UPDATE_TIME,
               t0.EXTEND1,
               t0.EXTEND2,
               t0.EXTEND3,
               t0.EXTEND4,
               t0.EXTEND5
        from AST_DEPR_REPAIR_BILL t0
    </sql>

    <!--通过实体作为筛选条件查询-->
    <select id="selectAll" resultMap="AstDeprRepairBillMap">
        <include refid="AstDeprRepairBillVo"></include>
        <where>
            <if test="id != null and id != ''">and t0.ID = #{id}</if>
            <if test="billNo != null and billNo != ''">and t0.BILL_NO = #{billNo}</if>
            <if test="status != null and status != ''">and t0.STATUS = #{status}</if>
            <if test="fiscal != null">and t0.FISCAL = #{fiscal}</if>
            <if test="deprMo != null">and t0.DEPR_MO = #{deprMo}</if>
            <if test="unitId != null and unitId != ''">and t0.UNIT_ID = #{unitId}</if>
            <if test="unitCode != null and unitCode != ''">and t0.UNIT_CODE = #{unitCode}</if>
            <if test="unitName != null and unitName != ''">and t0.UNIT_NAME = #{unitName}</if>
            <if test="deptId != null and deptId != ''">and t0.DEPT_ID = #{deptId}</if>
            <if test="deptCode != null and deptCode != ''">and t0.DEPT_CODE = #{deptCode}</if>
            <if test="deptName != null and deptName != ''">and t0.DEPT_NAME = #{deptName}</if>
            <if test="confirmedId != null and confirmedId != ''">and t0.CONFIRMED_ID = #{confirmedId}</if>
            <if test="confirmedName != null and confirmedName != ''">and t0.CONFIRMED_NAME = #{confirmedName}</if>
            <if test="confirmedDate != null">and t0.CONFIRMED_DATE = #{confirmedDate}</if>
            <if test="delFlag != null and delFlag != ''">and t0.DEL_FLAG = #{delFlag}</if>
            <if test="remark != null and remark != ''">and t0.REMARK = #{remark}</if>
            <if test="cost != null">and t0.COST = #{cost}</if>
            <if test="depTotal != null">and t0.DEP_TOTAL = #{depTotal}</if>
            <if test="netValue != null">and t0.NET_VALUE = #{netValue}</if>
            <if test="qty != null">and t0.QTY = #{qty}</if>
            <if test="thisValue != null">and t0.THIS_VALUE = #{thisValue}</if>
            <if test="resiRate != null">and t0.RESI_RATE = #{resiRate}</if>
            <if test="deprNewestDate != null">and t0.DEPR_NEWEST_DATE = #{deprNewestDate}</if>
            <if test="createBy != null and createBy != ''">and t0.CREATE_BY = #{createBy}</if>
            <if test="createTime != null">and t0.CREATE_TIME = #{createTime}</if>
            <if test="createName != null and createName != ''">and t0.CREATE_NAME = #{createName}</if>
            <if test="updateBy != null and updateBy != ''">and t0.UPDATE_BY = #{updateBy}</if>
            <if test="updateTime != null">and t0.UPDATE_TIME = #{updateTime}</if>
            <if test="extend1 != null and extend1 != ''">and t0.EXTEND1 = #{extend1}</if>
            <if test="extend2 != null and extend2 != ''">and t0.EXTEND2 = #{extend2}</if>
            <if test="extend3 != null and extend3 != ''">and t0.EXTEND3 = #{extend3}</if>
            <if test="extend4 != null and extend4 != ''">and t0.EXTEND4 = #{extend4}</if>
            <if test="extend5 != null and extend5 != ''">and t0.EXTEND5 = #{extend5}</if>
        </where>
    </select>
</mapper>